.conteiner{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 250px;
}
.img{
  padding: 5px;
  border: 1px solid black;
  width: 180px;
  height: 130px;
  margin-right: 3px;
  margin-left: 3px;
}